# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Editor
.vscode

# unwanted tracing files
sb.json
alloy_finger.js
parseData.js
shanghai.xml
timesheet.txt

